<html>
	<head>
		<link href="/../assets/styles.css" rel="stylesheet" type ="text/css"/>
	</head>
	<body>
		<% include partials/nav.ejs %>
		<h1>thanks for getting in touch</h1>
		<p>you've contacted <%= data.who %> at <%= data.dept%></p>

	

	</body>
</html>
