<html>
	<head>
		<link href="/../assets/styles.css" rel="stylesheet" type ="text/css"/>
	</head>
	<body>
		<% include partials/nav.ejs %>
		<h1>Welcome to the contact page</h1>
		<p>contact these depts</p>
		<p><%= qs.dept %></p>

		<form id='contact-form' method= 'post' action='/contact'>
			<label for="who">who contact</label><br>
			<input type="text" name = "who" value = "<%= qs.person %>"></label><br>
			<label for="dept">dept</label><br>
			<input type="text" name = "dept" value = "<%= qs.dept %>"></label><br>
			<input type = 'submit' value = 'submit'/>
		</form>

	</body>
</html>
