<html>
	<head>
		<link href="/../assets/styles.css" rel="stylesheet" type ="text/css"/>
	</head>
	<body>

		<% include partials/nav.ejs %>
		<h1>Welcome</h1>
		<p>This is a website</p>
	</body>
</html>

